<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form>
      <input type="number" id="leftOperand">
      <input type="number" id="rightOperand">
      <select id=operator>
        <option value="add">Add</option>
        <option value="sub">Subtract</option>
        <option value="mul">Multiply</option>
        <option value="div">Divide</option>
      </select>
      <input type="submit" id="btnSubmit" value="Submit">
      <br>
      <div for="result">RESULT: </div>
      <div id='result'></div>
    </form>
    <script src="/javascripts/9.js"></script>
  </body>
</html>
