body
{
	background-color:black;
}

div
{
	background-color: lightgrey;
	border: 1px solid green;
	resize: both;
	overflow: auto;
	margin: 5px 20%;
}

img
{
	border: 1px solid yellow;
	margin: 2% 25%;
}

h1
{
	margin: 2px 100px 0px 50px;
	text-decoration:underline;
	border-bottom: 2px solid red;
	font-size: 50px;
}

p
{
	margin: 5px 150px 0px 200px;
	border: 2px solid red;
	background-color:#ccffff;
	padding: 20px;
	resize: both;
	overflow: auto;
}

a:hover
{
	color: red;
	background-color: transparent;
	text-decoration: underline;
}